version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "pip"
    directories:
      - "/"
      - ".github/workflows/requirements"
    schedule:
      interval: "monthly"
    groups:
      pip:
        patterns:
          - "*"
