include MANIFEST.in
include *.txt THANKS
exclude LICENSE-*.txt
include setup.py setup.cfg VERSION Makefile

recursive-include tables *.py *.pyx *.pxd *.pxi *.c Makefile
recursive-include tables/tests *.h5
recursive-include tables/nodes/tests *.h5 *.dat *.xbm
recursive-include tables/numexpr *.c *.inc README
recursive-include src *.c *.h Makefile

recursive-include LICENSES *
recursive-include utils *
recursive-include doc *.txt *.pdf *.html *.css *.png Makefile
recursive-include doc/scripts *.py
recursive-exclude doc/xml *
recursive-include examples *.py *.sh
recursive-include bench *.sh *.py *.txt
recursive-include contrib README *.py
recursive-include debian *
recursive-exclude debian *.in
