[build-system]
requires = [
    "setuptools >=42.0",
    "wheel",
    "oldest-supported-numpy",
    "packaging",
    "py-cpuinfo",
    "Cython >=0.29.21",
    "blosc2 >=0.6.3"
]
build-backend = "setuptools.build_meta"
