#!/usr/bin/make -f
# -*- mode: makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

build: build-stamp
	/usr/bin/python2.2 setup.py build
	/usr/bin/python2.3 setup.py build

	gzip -9 < RELEASE-NOTES.txt > changelog.gz
	gzip -9 < debian/changelog > changelog.Debian.gz

build-stamp: 
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	-rm -rf build
	-rm -f changelog.gz changelog.Debian.gz

	dh_clean
	: # Delete some possible dirt
	-find -name '*.py[co]' | xargs rm -f

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	/usr/bin/python2.2 setup.py install --no-compile --prefix=$(CURDIR)/debian/python2.2-tables/usr
	/usr/bin/python2.3 setup.py install --no-compile --prefix=$(CURDIR)/debian/python2.3-tables/usr

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot

	dh_installdocs -ppython-tables README.txt changelog.gz changelog.Debian.gz ANNOUNCE.txt test/ examples/
	: # remove executables from doc package
	dh_installdocs -ppython-tables-doc -Xmake -Xgenerahtml.sh README.txt changelog.gz changelog.Debian.gz ANNOUNCE.txt doc/usersguide.pdf doc/html bench/
	dh_compress -i -X.py -X.h5
	dh_fixperms -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_testdir
	dh_testroot

	dh_installdocs -ppython2.2-tables README.txt changelog.gz changelog.Debian.gz
	dh_installdocs -ppython2.3-tables README.txt changelog.gz changelog.Debian.gz

	dh_python -ppython2.2-tables -ppython2.3-tables

	dh_strip -a
	dh_compress -a -X.py
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch binary-indep
.PHONY: build clean binary-arch binary-indep binary install
