name: CI

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.os }} ${{ matrix.python }} ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
        python: ['3.5', '3.6', '3.7', '3.8', '3.9']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: Install APT packages
      if: contains(${{ matrix.os }}, 'ubuntu')
      run: |
        sudo apt install libbz2-dev libhdf5-serial-dev liblzo2-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade setuptools pip wheel
        python -m pip install -r requirements.txt
        python -m pip install cython
        # python -m pip install sphinx>=1.1 sphinx_rtd_theme numpydoc ipython
    - name: Source distribution
      run: |
        python setup.py sdist
    - name: Installation
      run: |
        pip install dist/*.tar.gz
    - name: 'Run test'
      run: |
        cd .. && python -m tables.tests.test_all
        pt2to3 -h
        ptrepack -h
        ptdump -h
        pttree -h

